/* サイドメニュー */
.sideMenu {
    flex-shrink: 0;
}

/* サイドメニューの中身のラッパー */
.sideMenuContentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    row-gap: 24px;
}

/* ドロップダウンのラッパー */
.dropdownWrapper {
    width: 100%;
}

/* チェックボックスのラッパー */
.checkboxesWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 16px;
}

/* グラフのラッパー */
.chartWrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    height: 75%;
    padding: 16px;
}

/* FAB */
.fab {
    display: none;
}

/* メディアクエリ */
@media screen and (max-width: 1200px) {
    .chartWrapper {
        flex-shrink: 0;
    }

    .fab {
        display: block;
    }
}