/* サイドメニューの中身のラッパー */
.sideMenuContentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    row-gap: 24px;
}

/* ドロップダウンのラッパー */
.dropdownWrapper {
    width: 100%;
}

/* チェックボックスのラッパー */
.checkboxesWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 16px;
}

/* グラフのラッパー */
.chartWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* @@todo 高さ調整 */
    height: 500px;
    min-height: 500px;
}